# LaTeX build artifacts
*.aux
*.bbl
*.blg
*.log
*.out
*.toc
*.idx
*.ind
*.ilg
*.synctex.gz
*.thm
*.glo
*.fls
*.fdb_latexmk
*.ist
*.pdf
*.bak

# latexmk
*.fdb_latexmk
*.fls

# OS files
.DS_Store
Thumbs.db
